#home-page {
    display: flex; 
    flex-direction: row;
    color: white;
    overflow: hidden;
    height: 100vh;
}

#home-page::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, transparent 20%, black);
    z-index: -1;
}
